doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, zoom=1')

    // Put your bower styles here
    link(rel="stylesheet" href="bower_components/normalize-css/normalize.css")
    link(rel="stylesheet" href="bower_components/flexboxgrid/dist/flexboxgrid.min.css")

    link(rel="stylesheet" href="app/css/app.css")
    title Hello world!
  body


    // Put your bower js here
    script(src="bower_components/jquery/dist/jquery.min.js")

    script(src="app/js/main.js")
